@if(isVisible){

<div class="content">
    <div class="modal-error"  >
      <button class="close-button" (click)="closeModal()">x</button>
      <ng-content></ng-content>
      @if(isAlert){
      <img id="error" src="assets/img/chemcraft/error.png" alt="error" >
      <div class="info">
        <h2 id="title">{{ title }}</h2>
        <p id="text">{{ text }}</p>
        @if(buttonsVisible){
        <div class="buttons-container">

          <button class="action-button" (click)="onButtonClick(accept)">Aceptar</button>
          <button id="cancel" class="action-button" (click)="onButtonClick(cancel)">Cancelar</button> 
        </div>
        }
      </div>

    }
    </div>   
  </div>
}