<main>
    <div>
        <div class="Question-Timer">
            <select id="options" class="custom-select">
                <option value="opcion1">Opción 1</option>
                <option value="opcion2">Opción 2</option>
                <option value="opcion3">Opción 3</option>
                <option value="opcion4">Opción 4</option>
                <option value="opcion5">Opción 5</option>
              </select> 
              <div>
                <p></p>
                <h2 class="advance">Completa los elementos faltante, El tiempo es limitado!!</h2>
              </div>
            
            <h2 class="timer">2:00</h2>
        </div>
        <br>
        <table class="styled-table ">
            <thead class="table-header">
              <tr class="table-row">
                <th class="table-cell">Elemento</th>
                <th class="table-cell">Simbolo 2</th>
                <th class="table-cell">Z</th>
                <th class="table-cell">A</th>
                <th class="table-cell">p+</th>
                <th class="table-cell">n</th>
                <th class="table-cell">e-</th>
              </tr>
            </thead>
            <tbody class="table-body">
              <tr class="table-row">
                <td class="table-cell"><input type="text" class="full-width"></td>
                <td class="table-cell"><input type="text" class="full-width"></td>
                <td class="table-cell"><input type="text" class="full-width"></td>
                <td class="table-cell"><input type="text" class="full-width"></td>
                <td class="table-cell"><input type="text" class="full-width"></td>
                <td class="table-cell"><input type="text" class="full-width"></td>
                <td class="table-cell"><input type="text" class="full-width"></td>
                
              </tr>
              <tr>
                <td class="table-cell"><input type="text" class="full-width"></td>
                <td class="table-cell"><input type="text" class="full-width"></td>
                <td class="table-cell"><input type="text" class="full-width"></td>
                <td class="table-cell"><input type="text" class="full-width"></td>
                <td class="table-cell"><input type="text" class="full-width"></td>
                <td class="table-cell"><input type="text" class="full-width"></td>
                <td class="table-cell"><input type="text" class="full-width"></td>
              </tr>
              
            </tbody>
          </table>
        
        
<div class="try">
    <button class="big-button">Intento</button>
</div>
        
