<main>
    <div>
        <div class="Question-Timer">
          <img [src]="convert"  (click)="ShowChange()" class="imgSize" alt="" title="Cambiar de palabra">
              <div>
                <p></p>
                <h2 class="advance">Completa los elementos faltantes,  <span style="color: white;">¡El tiempo es limitado!</span></h2>
              </div>
            
              <div class="Question-Timer">
                <app-timer style="color: white;" #timer [inputSeconds]="1000" (timeCompleteEvent)="OnTimeComplete(timing)"></app-timer>
                <!-- <h2 class="timer">12:00</h2> -->
            </div>
        </div>
        <br>
        <table id="table1" class="styled-table ">
            <thead class="table-header">
              <tr class="table-row">
                <th class="table-cell">Elemento</th>
                <th class="table-cell">Simbolo 1</th>
                <th class="table-cell">Z</th>
                <th class="table-cell">p+</th>
                <th class="table-cell">n</th>
                <th class="table-cell">e-</th>
              </tr>
            </thead>
            <tbody class="table-body">
              
                <tr class="table-row">
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>

                </tr>
       
            </tbody>
          </table>
          <table id="table2" class="styled-table ">
            <thead class="table-header2">
              <tr class="table-row">
                <th class="table-cell">Elemento</th>
                <th class="table-cell">Simbolo 2</th>
                <th class="table-cell">Z</th>
              
                <th class="table-cell">p+</th>
                <th class="table-cell">n</th>
                <th class="table-cell">e-</th>
              </tr>
            </thead>
            <tbody class="table-body">
              
                <tr class="table-row">
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
  


                  
                </tr>
              
             
       
            </tbody>
          </table>
        
        
<div class="try">
    <button (click)="ShowTimeTry()" class="info-send">Intento <i class="fa-solid fa-floppy-disk"></i> </button>

    <button (click)="ShowTryWinGame()" class="info-send">Finalizar <i class="fa-solid fa-floppy-disk"></i> </button>
</div>
        
<app-chemquest-modal size="lg" #modalTry
(action)="tryAction($event)"></app-chemquest-modal>  


<app-chemquest-modal size="lg" #modalCW
(action)="finishAction($event)"></app-chemquest-modal>



<app-chemquest-modal size="lg" #modalWIN (action)="exit($event)"></app-chemquest-modal>
<app-chemquest-modal size="lg" #modalLose (action)="exit($event)"></app-chemquest-modal>
<app-chemquest-modal size="lg" #modalChange (action)="Change($event)"></app-chemquest-modal>
<app-chemquest-modal size="lg" #timing> </app-chemquest-modal>

<app-chemquest-modal size="lg" #timerM>
  <div class="info">
    <h2 id="title">¡Se ha acabo el tiempo!</h2>
    <p id="text"> ¿Quieres jugar de nuevo o deseas salir?</p>
    <img [src]="hangManGameOver" alt="">

    
     <div style="text-align: center;" class="buttons-container-modal">
        <button id="accept" class="action-button" (click)="playAgain()">Jugar</button>
        <button id="cancel" class="action-button" (click)="closeGame()">Salir</button>
     </div>
  </div>  
 </app-chemquest-modal>