<main>
    <div>
        <div class="Question-Timer">
            <img [src]="convert" (click)="change()" class="imgSize" alt="">
              <div>
                <p></p>
                <h2 class="advance">Completa los elementos faltantes, ¡¡El tiempo es limitado!!</h2>
              </div>
            
            <h2 class="timer">2:00</h2>
        </div>
        <br>
        <table id="table1" class="styled-table ">
            <thead class="table-header">
              <tr class="table-row">
                <th class="table-cell">Elemento</th>
                <th class="table-cell">Simbolo 1</th>
                <th class="table-cell">Z</th>
                <th class="table-cell">p+</th>
                <th class="table-cell">n</th>
                <th class="table-cell">e-</th>
              </tr>
            </thead>
            <tbody class="table-body">
              
                <tr class="table-row">
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>

                </tr>
       
            </tbody>
          </table>
          <table id="table2" class="styled-table ">
            <thead class="table-header2">
              <tr class="table-row">
                <th class="table-cell">Elemento</th>
                <th class="table-cell">Simbolo 2</th>
                <th class="table-cell">Z</th>
              
                <th class="table-cell">p+</th>
                <th class="table-cell">n</th>
                <th class="table-cell">e-</th>
              </tr>
            </thead>
            <tbody class="table-body">
              
                <tr class="table-row">
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
                  <td class="table-cell slot"><input name="input" type="text" class="full-width"></td>
  


                  
                </tr>
              
             
       
            </tbody>
          </table>
        
        
<div class="try">
    <button (click)="fillTableFields()" class="info-send">Intento <i class="fa-solid fa-floppy-disk"></i> </button>
    <button (click)="save()" class="info-send">Finalizar <i class="fa-solid fa-floppy-disk"></i> </button>
</div>
        
