/* Paleta de Colores */
:root{
    --font-color: rgb(221, 224, 37);
    --padding-all: 50px;
    
}
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #282828; /* Fondo blanco */
    color: var(--font-color); /* Texto primario negro */
    /* font-family: 'Montserrat', sans-serif; Fuente principal */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: var(--padding-all);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Rozha One', serif; Fuente secundaria para títulos */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* Texto secundario gris */
.secondary-text {
    color: #878686;
}

/* Estilos de Botones */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.btn-cancel {
    background-color: #6b007b; /* Morado oscuro */
    color: #ffffff;
}

.btn-continue {
    background-color: var(--background); /* Verde oscuro */
    color: #ffffff;
}

.btn-save {
    background-color: #1a661a; /* Verde oscuro */
    color: #ffffff;
}

/* Listados */
.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.list-item img {
    width: 50px; /* Ajusta el tamaño de la imagen representativa */
    height: 50px;
    margin-right: 10px;
}

/* Estilo para selects personalizados */
.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

/* Estilo para iconos */
.icon {
    margin-left: 5px; /* Ajusta el espaciado entre el texto y el icono */
}

/* Otros estilos opcionales */
.minecraft-font {
    font-family: 'Minecraft Font', sans-serif;
}

.rainy-hearts {
    font-family: 'Rainy Hearts', sans-serif;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 20px 40px;
    position: relative;
}

.nav-left {
    position: absolute;
    left: 20px; /* Ajusta este valor según necesites */
}

.nav-left .logo {
    height: 40px; /* Ajusta el tamaño de la imagen según necesites */
}

.nav-right {
    position: absolute;
    right: 20px; /* Ajusta este valor según necesites */
    display: flex;
    align-items: center;
    color: white;
}

.nav-right .profile {
    display: flex;
    align-items: center;
}

.nav-right .profile-img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-right .profile-name {
    font-size: 16px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    margin: 0 10px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.nav-center {
    display: flex;
    justify-content: center;
}




/////////////////////////////////////////////////////////////////////////////////////////////////
/// 
/// 
/// 
/// 
///





  .btn-cancel {
    background-color: #af8dc3; /* Morado oscuro */
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer; 
}
  .Question-Timer{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
  }
  .timer{
    display: flex;
    justify-content: center;
    width: 150px;
    height: 50px;
    border: 4px solid #af8dc3;
    border-radius: 5px;
    font-size: 44px;
    
  }
  .select{
    display: flex;
    justify-content: space-around;
  }
  .imageQuestion{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .imgs{
    
    display: flex;
    justify-content: center;
  }
  .racha{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
  }
  .advance{
    font-size: 30px;
  }
  .tableRecongnizeElements{
    display: flex;
    align-items: baseline;
    margin: auto;
    margin-left: 5px;
    
  }

/* styles.css */
.styled-table {
    margin-top: 60px;
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-cell {
    
    padding: 10px;
    text-align: center;
    border: 2px dashed #000;
  }
  
  .table-header {
    background-color: #af8dc3;;
  }
  
  .table-body .table-row:nth-child(even) .table-cell {
    background-color: #f9f9f9;
  }
  
  .table-body .table-row:nth-child(odd) .table-cell {
    background-color: #fff;
  }
  
  .full-width {
    width: 100px;
    height: 80px;
    box-sizing: border-box;
  }

  .try{
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  .slot{
    width: 70px;
    height: 70px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    
   
 
    background-color: #fff;
    margin: 0 10px;
    font-size: 24px;
 
  }
 
 
  input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
  }

  //////////////////////table 2
  /// 
  .table-header2 {
    
    background-color: #7fbf7b;;
  }
  .info-send {
    display: inline-block;
    top: 180px;
    right: 70px;
    background-color: #449d3d;
    color: white;
    padding: 23px 30px;
    border-radius: 100px;
    font-size: 26px;
    margin-top: 30px;
}


.imgSize{
  width: 100px;
    height: 85px;
 
}
#table2{
  margin: auto;
  margin-top: 150px;
 
}