<div class="modal" id="compuesto-modal">
    <div class="modal-content">
      <span class="close-modal">&times;</span>
      <!-- <img id="fotoCompuesto" src="/ModalInfoCompuesto/Aguaa.jpg" alt="compuesto"> -->
      <div class="info">
        <h2 id="nombreCompuesto">Agua</h2>
        <p id="descripcionCompuesto">
          El agua es una sustancia compuesta por dos átomos de hidrógeno y uno de oxígeno, esencial para la vida y presente en abundancia en la Tierra.
        </p>
        <ul id="propiedadesCompuesto">
          <li><strong>Fórmula química:</strong> <span id="formulaQuimica">H₂O</span></li>
          <li><strong>Masa molecular:</strong> <span id="masaMolecular">18.015 g/mol</span></li>
          <li><strong>Estado físico:</strong> <span id="estadoFisico">Líquido a temperatura ambiente</span></li>
          <li><strong>Color:</strong> <span id="color">Incoloro</span></li>
          <li><strong>Solubilidad:</strong> <span id="solubilidad">Alta solubilidad en muchos solventes</span></li>
          <li><strong>Usos comunes:</strong> <span id="usosComunes">Consumo humano, agricultura, industria, limpieza, entre otros</span></li>
          <li><strong>Precauciones de seguridad:</strong> <span id="precaucionesSeguridad">Ninguna en condiciones normales de uso</span></li>
        </ul>
      </div>
    </div>
  </div>