<app-chemquest-modal size="lg" #modal
(action)="sendAction($event)"
>

<div class="info-compound">
      <img id="fotoCompuesto" [src]="compound.image" alt="compuesto">
      <div class="info">
        <h2 id="nombreCompuesto">{{ compound.name }}</h2>
        <p id="descripcionCompuesto">
          {{ compound.description }}
        </p>
        <ul id="propiedadesCompuesto">
          <li><strong>Fórmula química: </strong> <span id="formulaQuimica">{{ compound.formula }}</span></li>
          <li><strong>Masa molecular: </strong> <span id="masaMolecular">{{ compound.molecularMass }}</span></li>
          <li><strong>Estado físico: </strong> <span id="estadoFisico">{{ compound.state }}</span></li>
          <li><strong>Color: </strong> <span id="color">{{ compound.color }}</span></li>
          <li><strong>Usos comunes: </strong> <span id="usosComunes">{{ compound.commonUses }}</span></li>
          <li><strong>Precauciones de seguridad: </strong> <span id="precaucionesSeguridad">{{ compound.risks }}</span></li>
        </ul>
      </div>

    </div>
    </app-chemquest-modal>




