
.info-compound{
display: flex;
}

  #fotoCompuesto {
    max-height: 300px;
    max-width: 300px;
    height: auto;
    margin: auto 15px auto 0px;
    border-radius: 15px;
  }
  
  .info {
    max-width: 600px;
    font-size: 16px;
  }
  
  #nombreCompuesto {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  #descripcionCompuesto {
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  #propiedadesCompuesto {
    list-style-type: none;
    padding: 0;
  }
  
  #propiedadesCompuesto li {
    margin-bottom: 10px;
  }


@media (max-width: 855px) {

    #fotoCompuesto {
        max-width: 80%;
        margin: 0 auto 15px auto;
    }

    #nombreCompuesto {
        font-size: 26px;
    }

    #descripcionCompuesto {
        font-size: 15px;
    }

    #propiedadesCompuesto {
        font-size: 15px;
    }
}

@media (max-width: 790px) {


  #fotoCompuesto {
      max-width: 50%;
      margin: 0 auto 15px auto;
  }

  .info {
      max-width: 90%;
      font-size: 14px;
      margin: 0 auto;
  }

  #nombreCompuesto {
      font-size: 24px;
  }

  #descripcionCompuesto {
      font-size: 14px;
  }

  #propiedadesCompuesto {
      font-size: 14px;
  }
}


@media (max-width: 1400px) {
    
  .info-compound{
    flex-direction: column;
  }

  #fotoCompuesto {
      margin: 0 auto 15px auto;
  }

}

