<!-- src/app/components/hangman/hangman.component.html -->
 <br>
 <div class="hangman-container">
    <div class="word">
        <img [src]="convert" (click)="showDetailModal(detailModalChange)" class="imgSize" alt="" title="Cambiar de palabra">
        @for (item of wordsArray; track $index) {
            <div (drop)="OnDropOnCross($event)" (dragover)="OnDragOver($event)" class="slot" [attr.id]="'casilla-'"></div>
        }
            @if (letter !== '_') {
                <p>{{letter}}</p>
            }
        
        <img [src]="send" (click)="showDetailModal(detailModalSend)" class="imgSize" alt="" title="Verificar intento">
    </div>
    <br>
</div>

<div class="elements-list">
    <div class="head-list">
        <div class="center">
            <div class="keyboard">
                <div class="row">
                    <div class="key" *ngFor="let letter of 'QWERTYUIOP'.split('')" [draggable]="true" (dragstart)="OnDragStart($event)" [attr.data-letter]="letter">{{letter}}</div>
                </div>
                <div class="row">
                    <div class="key" *ngFor="let letter of 'ASDFGHJKL'.split('')" [draggable]="true" (dragstart)="OnDragStart($event)" [attr.data-letter]="letter">{{letter}}</div>
                </div>
                <div class="row">
                    <div class="key" *ngFor="let letter of 'ZXCVBNMÑ'.split('')" [draggable]="true" (dragstart)="OnDragStart($event)" [attr.data-letter]="letter">{{letter}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
    

   
    
    <app-modal #detailModalChange>
        <app-chem-guess-form7
        (callParentEvent)="handleFormUpdate($event)"
        />
    </app-modal>

    <app-modal #detailModalSend>
        <app-chem-guess-send
        (callParentEvent)="handleFormSend($event)"
        />
    </app-modal>




    


