/* Estilos para el temporizador */
.timer-container {
  // position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 1000; /* Asegura que esté sobre otros elementos */
}
.timer-container input[type="number"] {
  width: 60px; /* Ajusta el tamaño de los campos de entrada */
  margin-right: 5px; /* Espacio entre los campos */
  background-color: var(--white-color); /* Color de fondo */
}

#timer {
  font-size: 50px;
  font-weight: 500;
  margin-right: 10px;
}

.timer-bar {
  background-color: #f1a340;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: timer-progress 3600s linear forwards; /* 1 hora de duración */
}

@keyframes timer-progress {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

/* Estilos para botones */
.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  margin-right: 10px; /* Espacio entre botones */
}

.btn.btn-cancel {
  background-color: var(--lavender-color); /* Morado oscuro */
  color: #ffffff;
}

.btn.btn-continue {
  background-color: #4caf50; /* Naranja */
  color: #ffffff;
}

.btn.btn-set {
  background-color: #f1a340; /* Verde */
  color: #ffffff;
}
