<div class="ltr">
  <div class="page-wrapper compact-wrapper">
    <app-topbar></app-topbar>

    <div class="page-body-wrapper">
      <div
        class="sidebar-wrapper"
        sidebar-layout="default-sidebar"
        icon="stroke-svg"
        [ngClass]="{ close_icon: !layoutService.sidebarOpen }"
      >
        <app-sidebar></app-sidebar>
      </div>

      <div class="page-body">
        <!-- <div class="container-fluid">
          <div class="page-title">
            <div class="row">
              <div class="col-6">
                <h3>{{ title }}</h3>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <h3>{{ title }}</h3> -->

        <main class="container-fluid">
          <router-outlet></router-outlet>
        </main>
        <footer id="footer">
          <div class="footer-content">
              <div class="footer-section about">
                  <h2>Sobre Nosotros</h2>
                  <p>ChemTest es una plataforma educativa para aprender química de manera interactiva.</p>
              </div>
              <div class="footer-section links">
                  <h2>Enlaces Rápidos</h2>
                  <ul>
                      <li><a href="#">Términos y Condiciones</a></li>
                      <li><a href="#">Política de Privacidad</a></li>
                  </ul>
              </div>
              <div class="footer-section contact">
                  <h2>Contacto</h2>
                  <span><i class="fas fa-envelope"></i> infochemtestcom</span>
                  <span><i class="fas fa-phone"></i> +1234567890</span>
              </div>
              <div class="footer-section social">
                  <h2>Redes Sociales</h2>
                  <ul>
                      <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                  </ul>
              </div>
          </div>
          <div class="footer-bottom">
              &copy; 2024 ChemTest | Diseñado por [Tu Nombre]
          </div>
      </footer>

      </div>

     
    </div>
  </div>
</div>

<!-- <div
  class="bg-overlay"
  [ngClass]="{ active: layoutService.sidebarOpen }"
></div> -->
