/**
*@Author Alejandro José Salazar Lobo
*/

.elements-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1a661a;
    // color: var(--lavender-color);
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 60px; 
}

.head-list{
    display: flex;
}

.elements-list h2 {
    margin-bottom: 10px;
}

.elements-container {
    display: flex;
    overflow-x: auto;
    width: 92%;
    max-width: 490px;
    padding: 10px 0;
    list-style-type: none;
    margin: 0;
}


.element {
    background-color:var(--element-bg-color);
    // background: var(--lavender-color);
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    box-shadow: 4px 3px 3px rgba(0, 0, 0, 0.2);
}

.element {
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    
}


.element:active {
     background-color: #217a34;
    // background: var(--lavender-color);
}

#element-search {
    width: 200px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
}

.no-results {
    text-align: center;
   // color: var(--lavender-color);
    color: #1a661a;
    font-weight: bold;
    flex: 0 0 100%;
    font-size: 16px;
  }


//   .element-information {
//     background-color: rgb(224, 224, 224);
//     position: absolute;
//     z-index: 999;
//     align-items: center;
//     text-align: center;
//     padding: 10px;
//     border-radius: 5px;
//     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
//     transform: translate(-50%, -100%);
//     color: #1a661a;
// }

.element-information {
    position: absolute;
    margin-right: 635px;
    margin-bottom: 35px;
    background-color: #1a661a;
   // background: var(--lavender-color);
    z-index: 2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
    white-space: nowrap;
    color: #fff;
}

// .container-element-info {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .container-close-button {
//     display: flex;
//     justify-content: flex-end;
//     width: 100%;
// }

// .close-button {
//     background: none;
//     border: none;
//     font-size: 1.2em;
//     cursor: pointer;
//     color: #1a661a;
// }

.container-close-button{
    text-align: end;
    margin-left: 80px;
}
.container-element-info{
    text-align: start;
    // color: #1a661a;
    font-weight: 500;
}

.close-button{
    color: #fff;
    font-weight: bold;
    border: none;
    background-color: #ffffff00;
    // margin-bottom: 7px;
    margin-left: 10px;

}


.arrow {
    display: none; 
    position: absolute;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
    margin-top: 2%;
  }

  .arrow img {
   width: 20px;
   height: 20px;
  }
  
  .left-arrow {
    left: 60px;
  }
  
  .right-arrow {
    right: 60px;
  }

  .arrow {
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
    
  }

@media (max-width: 768px) {

}

@media (max-width: 590px) {
    .elements-list {
        margin-top: 10px;
    }

    .elements-container {
        width: 89%;
    }

    .arrow {
        display: block; 
      }

      .element-information {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 auto; 
        top: 350px;
      }
}

