<div class="elements-list">
    <div class="head-list">
        <h2>Lista de elementos:</h2>
        <input type="text" id="element-search" placeholder="Ingresa el nombre del elemento, símbolo o número atómico...">
    </div>
    <ul class="elements-container">
        <li *ngFor="let element of elementsList" class="element" draggable="true" 
            [attr.data-symbol]="element.symbol" 
            [attr.data-name]="element.name" 
            [attr.data-atomic-number]="element.atomicNumber">
            {{ element.symbol }}
        </li>
    </ul>
</div>
