<!-- <div style="background-image: url('assets/img/chemcraft/bgChemcraft-light.png');"> -->

<div class="container">


  <div class="Question-Timer">
    <app-timer #timer [inputSeconds]="time" (timeCompleteEvent)="OnTimeComplete()"></app-timer>
    <!-- <h2 class="timer">12:00</h2> -->
</div>

  <app-compound-request style="margin-top: -3%;" class="app-compound-request"
  [compoundsList]="compoundsList"
(compoundGenerated)="onCompoundGenerated($event)"
(alert)="showAlert($event)"
#compoundRequest
  ></app-compound-request>

  <div class="crafting-area">
  <div class="slots">
    <ng-container *ngFor="let slot of slotsArray">
      <app-slot
       (error)="showAlert($event)"
      ></app-slot>
    </ng-container>
  </div>

 <!-- <div class="slots">
    <app-slot (error)="showAlert($event)"></app-slot>
    <app-slot (error)="showAlert($event)"></app-slot>
    <app-slot (error)="showAlert($event)"></app-slot>
    <app-slot (error)="showAlert($event)"></app-slot>
    <app-slot (error)="showAlert($event)"></app-slot>
  </div> -->

  <div class="actions-buttons">
    <button class="action-button" (click)="craftCompound()"> <img class="action-image" src="assets/img/chemcraft/chemistry-white.png" alt=""></button>
    <button class="action-button" (click)="cleanSlots()"><img class="action-image" src="assets/img/chemcraft/clear.png" alt=""></button>  
  </div>
</div>

 

  <app-element-list class="app-element-list"
  (elementShared)="onElementDoubleClick($event)"
  ></app-element-list>
  <app-modal-info-compound></app-modal-info-compound>
  <app-modal-tutorial></app-modal-tutorial>
  
  
 <app-chemquest-modal size="lg" #modal
 (action)="sendAction($event)"
 >

</app-chemquest-modal>

 <app-chemquest-modal size="lg" #modalCorrect
 (action)="showCompoundInfo(true)"
 >

</app-chemquest-modal>


 <app-chemquest-modal size="lg" #gameOverModal>
  <div class="info">
    <h2 id="title">¡Se ha acabo el tiempo!</h2>
    <p id="text"> ¿Quieres jugar de nuevo o deseas salir?</p>
    <img [src]="hangManGameOver" alt="">

    
     <div style="text-align: center;" class="buttons-container-modal">
        <button id="accept" class="action-button-modal" (click)="playAgain()">Jugar</button>
        <button id="cancel" class="action-button-modal" (click)="closeGame()">Salir</button>
     </div>
  </div>  
 </app-chemquest-modal>


 <app-modal-info-compound #modalInfoCompound
 [compound]="compoundAux"
 (action)="RestartGame($event)"
 />


</div>
  
<!-- </div> -->