

<main >
    <div>


        <button (click)="comprobation(modalHistory)" class="big-button"><img src="assets/img/history.png" alt=""></button>
            

        <div class="Question-Timer">
            <app-timer style="color: white;" #timer [inputSeconds]="1000" (timeCompleteEvent)="OnTimeComplete(modalTimeEnd)"></app-timer>
            <!-- <h2 class="timer">12:00</h2> -->
        </div>
        <div class="imageQuestion">
            <br>
            <div  class="imgs">
                <img class="scientific" draggable="false" [src]="hangMan" alt="" > 
            </div>
            

           
            
        </div> 
      
    </div>
</main>
<app-chem-guess-hang-man 
[allHistory]="allHistory"
[streak]="streak"
(addFavoriteEvent)="getWord($event)"
(allHistoryCleared)="handleAllHistoryCleared()"
(updateLife)="changeLife()" 
(diedAnimation)="diedAnimation()"   
/>
<div>
<p class="racha"><i class="fa-solid fa-fire"></i>{{user.streak}}</p>
   


    <app-chemquest-modal size="lg" #modalHistory>    
        <app-chem-guess-history style="width: 100%;" [allHistory]="allHistory"></app-chem-guess-history>
    </app-chemquest-modal>
    <app-chemquest-modal size="lg" #modalTimeEnd>    
  
    </app-chemquest-modal>
    

    <script>
        function toggleNavbar() {
            var navbarLinks = document.getElementById('navbar-links');
            navbarLinks.classList.toggle('active');
        }
    </script>

  


