

<main (mousemove)="changeLife()">
    <div>
        <div class="Question-Timer">
            <a (click)="showHistory(modalPrueba)" class="big-button">historial</a>
            

            
            <h2 class="timer">12:00</h2>
        </div>
        <div class="imageQuestion">
            
          
            <br>
        
            <div  class="imgs">
                <img class="exodiaUp" draggable="false" [src]="imagePathLeftArm" alt="" > 
                <img class="exodiaUp" draggable="false" [src]="imagePathHead" alt="" > 
                <img class="exodiaUp" draggable="false" [src]="imagePathRigthArm" alt="" > 
            </div>
            <div class="imgs">
                <img class="exodiaDown"draggable="false" [src]="imagePathLeftLeg" alt="" > 
                <img class="exodiaDown" draggable="false"[src]="imagePathRightLeg" alt="" > 
            </div>

           
            
        </div>
    </div>
</main>
<app-chem-guess-hang-man 
[allHistory]="allHistory"
[streak]="streak"
[change]="change"
(addFavoriteEvent)="getWord($event)"
/>
<div>
<p class="racha"><i class="fa-solid fa-fire"></i>{{user.streak}}</p>
   
<script>
    function toggleNavbar() {
        var navbarLinks = document.getElementById('navbar-links');
        navbarLinks.classList.toggle('active');
    }
</script>

    <app-modal-pruebas size="lg" #modalPrueba>
        <div class="content" >
            <div class="modal-error"  >
                
             <app-chem-guess-history [allHistory]="allHistory"
                
             ></app-chem-guess-history>  
            </div>
          </div>
    </app-modal-pruebas>
    

  


