

<main (mousemove)="changeLife()">
    <div>


        <button (click)="comprobation(modalHistory)" class="big-button"><img src="assets/img/history.png" alt=""></button>
            

        <div class="Question-Timer">
            <app-timer #timer [inputSeconds]="180" (timeCompleteEvent)="OnTimeComplete()"></app-timer>
            <!-- <h2 class="timer">12:00</h2> -->
        </div>
        <div class="imageQuestion">
            
          
            <br>
        
            <div  class="imgs">
                <img class="scientific" draggable="false" [src]="hangMan" alt="" > 
          
             
            </div>
            

           
            
        </div> 
        <!-- <div class="imageQuestion">
            
          
            <br>
        
            <div  class="imgs">
                <img class="exodiaUp" draggable="false" [src]="imagePathLeftArm" alt="" > 
                <img class="exodiaUp" draggable="false" [src]="imagePathHead" alt="" > 
                <img class="exodiaUp" draggable="false" [src]="imagePathRigthArm" alt="" > 
            </div>
            <div class="imgs">
                <img class="exodiaDown"draggable="false" [src]="imagePathLeftLeg" alt="" > 
                <img class="exodiaDown" draggable="false"[src]="imagePathRightLeg" alt="" > 
            </div>

           
            
        </div> -->
    </div>
</main>
<app-chem-guess-hang-man 
[allHistory]="allHistory"
[streak]="streak"
(addFavoriteEvent)="getWord($event)"
(allHistoryCleared)="handleAllHistoryCleared()"
/>
<div>
<p class="racha"><i class="fa-solid fa-fire"></i>{{user.streak}}</p>
   
<script>
    function toggleNavbar() {
        var navbarLinks = document.getElementById('navbar-links');
        navbarLinks.classList.toggle('active');
    }
</script>

    <app-chemquest-modal size="lg" #modalHistory>    
        <app-chem-guess-history style="width: 100%;" [allHistory]="allHistory"></app-chem-guess-history>
    </app-chemquest-modal>
    

  


