.modal-header {
  background-color: #af8dc3; /* Morado oscuro */
  }
  .modal-body{
    background-color: #ba90d3; /* Morado oscuro */
    
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
  
  
  }
  .big-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer; 
    background-color: #7fbf7b;
  }
  .btn-cancel {
    background-color: #af8dc3; /* Morado oscuro */
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer; 
}