<div class="modal-header">
    <h4 class="modal-title">¿Estas seguro que quieres cambiar de pregunta?</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <p>Perderas dos de racha si continuas</p>
    <p>Quieres continuar</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="big-button" (click)="modal.close('Ok click')">Aceptar <i class="fa-solid fa-arrow-right"></i>
    </button>
    <button type="button" class="btn-cancel" (click)="modal.dismiss('cancel')">Cancelar<i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  


  