<main>
    <div>
        <div class="Question-Timer">
            
              <div>
                <p></p>
                <h2 class="advance">Se mostraran diferentes compuestos, ¡COMPLETALOS!</h2>
              </div>
            
            <h2 class="timer">12:00</h2>
        </div>
       
    </div>

    
</main>

@if (visible) {
  <div class="cards">
    <div class="card">
    <div class="card-body">
      <h3 class="card-title">ADIVINA EL COMPUESTO</h3>
      <h3 class="card-subtitle mb-4 text-body-secondary">hello</h3>
      
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">ADIVINA EL COMPUESTO</h3>
      <h3 class="card-subtitle mb-4 text-body-secondary">hello</h3>
      
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">ADIVINA EL COMPUESTO</h3>
      <h3 class="card-subtitle mb-4 text-body-secondary">hello</h3>
      
    </div>
  </div>
  </div>
}
<div class="cards">
  @for (item of compoundOptions; track $index) {
 
    <div class="card">
    <div class="card-body">
      <h3 class="card-title">ADIVINA EL COMPUESTO</h3>
      <h3 class="card-subtitle mb-4 text-body-secondary">{{item.name}}</h3>
      
    </div>
  </div>
      
  }
</div>


  <div class="try">
    <button class="big-button"(click)="chargeOptions()" >Intento <i class="fa-solid fa-floppy-disk"></i> </button>
</div>

<p class="racha"><i class="fa-solid fa-fire"></i>100</p>

<!-- app.component.html -->
<button type="button" class="big-button" >Cambiar Pregunta</button>