/**=====================
     47. Footer CSS Start
==========================**/
.footer{
  background-color: $footer_bg_color;
  box-shadow: $footer_box_shadow;
  padding: 15px;
  bottom: 0;
  left: 0;
  margin-left: $sidebar-compact-width;
  transition: 0.5s;  
  &.footer-dark{
    background-color: $footer_dark_color;
    p{
      color: $white;
    }
  }
}
.footer-fix{
  width: calc(100% - $sidebar-compact-width);
  position: fixed;
}

.footer-layout{
  position: fixed;
  background: var(--lavender-color);
  margin: auto;
  width: 100%;
  z-index: 10;
}


.footer-layout {
  transition: margin-left 0.5s;

  &.sidebar-open {
    margin-left: 130px;
  }

  &.sidebar-closed {
    margin-left: 45px;
  }
}
/**=====================
     47. Footer CSS Ends
==========================**/
