.position{
display: flex;
justify-content: space-around;
}

#btn-accept {
    background-color: #1a661a;
    border: #1a661a;
    // background: var(--lavender-color);
    // border: var(--lavender-color);
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    margin-left: 110px;
}

.base{
    width: 100%;
    display: flex;
    text-align: center;
}
.tittle{
    margin-right: 20px;
}