
<div class="container">

<div class="game-selection-page">
  <h1 class="page-title">Escoge tu juego</h1>

  <div class="game-selection-container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-vial"></i>HangMan</h5>
        <p class="card-text">Misiones donde puedes poner a prueba tus conocimientos de química.</p>
        <a  href="/app/chemGuess7" class="btn btn-primary">Jugar</a>

      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-puzzle-piece"></i>ChemTable</h5>
        <p class="card-text">Crucigramas de química para resolver en un entorno interactivo.</p>
        <a href="/app/chemGuess8" class="btn btn-primary">Jugar</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-search"></i>ChemCompo</h5>
        <p class="card-text">Juego de adivinanzas químicas donde debes identificar elementos o compuestos.</p>
        <a href="/app/chemGuess9" class="btn btn-primary">Jugar</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-cogs"></i> ChemLinks</h5>
        <p class="card-text">Juego creativo donde puedes experimentar con la creación de compuestos.</p>
        <a 
        href="/app/chemGuess10" class="btn btn-primary"
        >Jugar</a>
      </div>
    </div>

    <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="fas fa-search"></i>ChemFormula</h5>
          <p class="card-text">Juego de adivinanzas químicas donde debes identificar elementos o compuestos.</p>
          <a href="/app/chemGuess11" class="btn btn-primary">Jugar</a>
        </div>
      </div>

  </div>
</div>





    <!-- <select (change)="onLevelChange($event)">
        <option value="7" selected>Setimo</option>
        <option value="8">Octavo</option>
        <option value="9">Noveno</option>
        <option value="10">Décimo</option>
        <option value="11">Undécimo</option>
    </select>

    @if(level === 7){
    <app-chem-guess7></app-chem-guess7>
    }
    @if(level === 8){
    <app-chem-guess8></app-chem-guess8>
    }
    @if(level === 9){
    <app-chem-guess9></app-chem-guess9>
    }
    @if(level === 10){
    <app-chem-guess10></app-chem-guess10>
    }
    @if(level === 11){
    <app-chem-guess11></app-chem-guess11>
    }
 -->

    <app-modal-error size="lg" #modalError>
   </app-modal-error>




</div>
