<div class="slot" (dragover)="allowDrop($event)" (drop)="onDrop($event)">
    @if(element){
      <div class="element" draggable="true" (dragstart)="onDragStart($event)">
      {{ element.symbol }}
      </div>
    }
    @if(element){
      <div (click)="showEditCounter()" class="counter" >
        {{ element.count }}
      </div>
    }
  </div>

  <app-chemquest-modal size="lg" #modal>
      <div class="info">
          <h2 id="title">Editar cantidad</h2>
          <p id="text"> Ingresa la cantidad de elementos que necesitas para crear el compuesto:</p>
          <input class="input-edit" type="number" [(ngModel)]="counterValue" min="0" (input)="preventInvalidInput($event)">
            <div class="buttons-container">
              <button id="edit" class="action-button" (click)="editCounter()">Editar</button>
              <button id="cancel" class="action-button" (click)="this.modal.closeModal()">Cancelar</button>

           </div>
      </div>  
  </app-chemquest-modal>
