

.crossword {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 10px;
    margin: auto;
}

.row {
    display: flex;

}

.cell {
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.cell::hover {
    background-color: yellow;
}

.cell-heading {
    font-size: 10%;
    padding-left: 10%;
    height: 25%;
    /* background-color: yellow; */
    z-index: 2;

}

.cell-content{
    width: 30px;
    height: 30px;
    border-style: hidden;
    align-content: center;
    /* display: flex; */
    /* background-color: transparent; */

}

.cell-content input[type=text] {
    width: 30px;
    height: inherit;
    border-style: hidden;
    text-align: center;
    align-content: center;
    /* background-color: transparent; */
    position: relative;
    top: -25%;
    z-index: 1;

}

.notes {
    color: white;
    margin-top: 50px;
}

.blackCell{
    
    background-color: black;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
}

.controlPanel{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
}

.controlPanel div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}



#wordHints{
    color: bisque;
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hintword{
    font-size: 80%;
    width: 80px;
    background-color: cornflowerblue;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
    color: white;
}

#filter{
    flex-grow: 1;
    text-align: center;
    background-color: orange;
    border-style: none;
    height: 20PX;
}

.console, textarea{
    width: 100%;
    margin-top: 20px;
    /* height: fit-content; */
}

#cross_id{
    text-align: center;
    width: 50px;
}

#wordLog {
    width: 100px;
    background-color: orange;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: auto;
}

#wordLog div {
    font-size: 70%;
    margin: 0px 5px 0px 0px;

}

.main{
    display: flex;
}

@media screen and (max-width: 400px) {

    #wordLog {
        flex-direction: row;
    }

    .main{
        flex-direction: column;
    }

    #wordLog{
        width: 100%;
        flex-wrap: wrap;
    }
    
  }