<app-language-select [dictionary]="msg" [id_language]="id_language"
    (langChangd)="OnLanguageChanged($event)"></app-language-select>
<div class="crosswordContainer">
    <div class="crossword">
        <div class="crossRow" *ngFor="let item of fakeArray">
            <div class="crossCell" *ngFor="let item of fakeArray;let index = index">
                <div class="cell-heading" disabled></div>
                <div class="cell-content">
                    <input class="txtChar" (blur)="OnBlur($event)" (dblclick)="OnDoubleClick($event)" (drop)="OnDropOnCross($event)"
                        (keydown)="OnKeyPress($event)" (change)="OnChange($event)" maxlength="1" type="text">
                </div>
            </div>
        </div>

    </div>


</div>
<div class="controlPanel">
    <div *ngIf="showHints">
        <label for="filter">{{msg[21][id_language]}}</label>
        <input type="text" name="filter" id="filter" (keyup)="FilterWords()" (dragover)="OnDragOver($event)" (drop)="OnDrop($event)" placeholder="Filtro RegEx" >
    </div>
    <div>
        <button (click)="BlockCells()" id="blockCells">{{msg[14][id_language]}}</button>
        <button (click)="ClearCrossWord()" id="ClearCrossWord">{{msg[1][id_language]}}</button>
        <button (click)="FillCrossWord()" id="FillCrossWord">{{msg[2][id_language]}}</button>
        <button (click)="RandomCrossWFill()" id="RandomCrossWFill">{{msg[3][id_language]}}</button>
        <button (click)="ExportCrossW()" id="ExportCrossW">{{msg[4][id_language]}}</button>
        <button (click)="ImportCrossW()">{{msg[5][id_language]}}</button>
        <label for="size">{{msg[6][id_language]}}</label>
        <!-- <button (click)="LoadCrossWord()">{{msg[6][id_language]}}</button> -->
        <input type="number" name="cross_id" (change)="LoadCrossWord()" id="cross_id" min="0" value="0"
            [max]="totalCrossWords-1">
        <label for="zoom">{{msg[12][id_language]}}</label>
        <input type="number" name="zoom" (change)="CrossZoom()" [(ngModel)]="cellHeight" id="cross_cell_size"
            min="{{initialCellHeight}}" value="{{initialCellHeight}}" max="100">
        <label for="size">{{msg[13][id_language]}}</label>
        <input type="number" name="size" (change)="OnResize()" [(ngModel)]="crossSize" id="cross_cell_size"
            min="10" max="100">
        <!-- <button (click)="FilterWords()">{{msg[7][id_language]}}</button> -->
        <!-- <button (click)="UpdateWordLogList()">{{msg[8][id_language]}}</button> -->
        <label for="showHints">{{msg[20][id_language]}}</label>
        <input type="checkbox" name="showHints" id="showHints" (click)="ShowHints($event)" [(ngModel)]="showHints" checked>
    </div>
</div>

    <app-word-log [dictionary]="msg" [id_language]="id_language" [id_message]="0"
        [wordList]="wordLogList"></app-word-log>
<div id="hints">
    <div id="wordHints">
    </div>
    <div id="symbolHints">
    </div>
</div>

<div class="console">
    <textarea name="" id="txtConsole"></textarea>
</div>