    <div class="main">
        <div class="crossword">
            <div class="row" *ngFor="let item of fakeArray">
                <div class="cell" *ngFor="let item of fakeArray;let index = index">
                    <div class="cell-heading">{{index + 1}}</div>
                    <div class="cell-content">
                        <input class="txtChar" 
                        (blur)=" OnBlur($event)" 
                        (dblclick)="DblClick($event)"
                        (keydown)="OnKeyPress($event)"
                        id=""
                        maxlength="1" type="text">
                    </div>
                </div>
            </div>
            
        </div>
        <div id="wordLog"></div>
    
    </div>
    <div class="controlPanel">
        <div>
            <input type="text" name="" id="filter" onkeyup="FilterWords()" placeholder="Filtro RegEx">
        </div>
        <div>
            <button (click)="ClearCrossWord()">Clear</button>
            <button (click)="FillCrossWord()">CrossWord</button>
            <button (click)="RandomCrossWFill()">Random</button>
            <button (click)="ExportCrossW()">Export</button>
            <button (click)="ImportCrossW()">Import</button>
            <button (click)="LoadCrossWord()">Load</button>
            <input type="number" name="" (change)="LoadCrossWord()" id="cross_id" min="0" value="0" [max]="totalCrossWords-1">
            <!-- <button (click)="FilterWords()" >Hints</button> -->
        </div>
    </div>
    
    <div id="wordHints">
        <!-- Actinio
        Aluminio
        Americio
        Antimonio
        Argón
        Arsénico
        Ástato
        Azufre
        Bario
        Berilio
        Berkelio
        Bismuto
        Bohrio
        Boro
        Bromo
        Cadmio
        Calcio
        Californio
        Carbono
        Cerio
        Cesio
        Cloro
        Cobalto
        Cobre
        Copernicium
        Cromo
        Curio
        Darmstadio
        Disprosio
        Dubnio
        Einstenio
        Erbio
        Escandio
        Estaño
        Estroncio
        Europio
        Fermio
        Flerovium
        Fluor
        Fósforo
        Francio
        Gadolinio
        Galio
        Germanio
        Hafnio
        Hassio
        Helio
        Hidrógeno
        Hierro
        Holmio
        Indio
        Iodo
        Iridio
        Iterbio
        Itrio
        Kryptón
        Lantano
        Lawrencio
        Litio
        livermorium
        Lutecio
        Magnesio
        Manganeso
        Meitnerio
        Mendelevio
        Mercurio
        Molibdeno
        Moscovium
        Neodimio
        Neón
        Neptunio
        Nihonium
        Niobio
        Níquel
        Nitrógeno
        Nobelio
        Organesson
        Oro
        Osmio
        Oxígeno
        Paladio
        Plata
        Platino
        Plomo
        Plutonio
        Polonio
        Potasio
        Praseodimio
        Promecio
        Protactinio
        Radio
        Radón
        Renio
        Rodio
        Roentgenium
        Rubidio
        Rutenio
        Rutherfordio
        Samario
        Seaborgio
        Selenio
        Sílice
        Sodio
        Talio
        Tantalio
        Tecnecio
        Teluro
        Tennessine
        Terbio
        Titanio
        Torio
        Tulio
        Uranio
        Vanadio
        Wolframio
        Xenón
        Zinc
        Zirconio -->

    </div>

    <div class="console">
        <textarea name="" id="txtConsole" ></textarea>
    </div>

    <div class="notes">
    </div>
    
    