/**
*@Author Guillermo Jiménez De Sárraga
*/
:host{
  --bckGround-color:#212121;
  --cellHeight: 30px;
  background-color: var(--bckGround-color);
  
}

label{
  color: white;
  padding: 0px 10px;
}

.crosswordContainer{
  background-color: var(--bckGround-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crossword {
    display: flex;
    flex-direction: column;
    // width: fit-content;
    align-items: center;
    // padding: 10px;
    // margin: auto;
    margin: 10px;
  }
  
  .crossRow {
    // height: var(--cellHeight);
    display: flex;
    flex-direction: row;
  
  }
  
  .crossCell {
    // background-color: rgb(255, 255, 255);
    // width: 30px;
    // height: 30px;
    // display: flex;
    // flex-direction: column;
    // border: 1px solid black;
    z-index: 3;
  }
  
  // .cell:hover {
  //   background-color: yellow;
  // }
  
  .cell-heading {
    font-size: calc(var(--cellHeight) * 0.2);
    height: 25%;
    width: 25%;
    // background-color: yellow;
    z-index: 2;
    display: flex;
    position: relative;
    top:30%;
    left:10%;
    align-items: center;
    
        
  }
  
  // .cell-content{
  //   // width: 100%;
  //   // height: 100%;
  //   // border-style: hidden;
  //   // align-content: center;
  //   /* display: flex; */
  //   /* background-color: transparent; */
    
  // }
  
  .cell-content input[type=text] {
    width: var(--cellHeight);
    height: var(--cellHeight);
    border-style: hidden;
    text-align: center;
    align-content: center;
    /* background-color: transparent; */
    // position: relative;
    // top: -25%;
    z-index: 1;
    border: 1px solid black;
    font-size: calc(var(--cellHeight) * 0.6);
  
  }
  
  .notes {
    color: rgb(0, 0, 0);
    margin-top: 50px;
  }
  
  .blackCell{
    // background-color: rgb(255, 255, 255);
    // width: 30px;
    // height: 30px;
    // display: flex;
    // flex-direction: column;
    // border: 1px solid black;
    z-index: 3;
  }
  
  .controlPanel{
    // margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: orange; */
    background-color: var(--bckGround-color);

  }
  
  .controlPanel div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }
  
  #hints{
    display: flex;
    flex-direction: row;
    width: 100%;
    resize: both;
  }


  #wordHints, #symbolHints{
    background-color: var(--bckGround-color);
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    resize: both;
  }

  // #wordHints{
  //   width: 60%;
  // }

  // #symbolHints{
  //   width: 40%;
  // }
  
  #filter{
    flex-grow: 1;
    text-align: center;
    background-color: #ffa500;
    border-style: none;
    height: 20PX;
  }
  
  .console, textarea{
    width: 100%;
    margin-top: 20px;
    /* height: fit-content; */
  }
  
  #cross_id{
    text-align: center;
    width: 50px;
  }
  
  
  .main{
    display: flex;
  }
  
  @media screen and (max-width: 400px) {
  
    #wordLog {
        flex-direction: row;
    }
  
    .crosswordContainer{
        flex-direction: column;
        background-color: black;
    }
  
    #wordLog{
        width: 100%;
        flex-wrap: wrap;
    }

    
  }