<div class="game-selection-page">
  <h1 class="page-title">Escoge tu juego</h1>

  <div class="game-selection-container">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-vial"></i> ChemTest</h5>
        <p class="card-text">Misiones donde puedes poner a prueba tus conocimientos de química.</p>
        <a routerLink="/chemtest" class="btn btn-primary">Jugar</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-puzzle-piece"></i> ChemCross</h5>
        <p class="card-text">Crucigramas de química para resolver en un entorno interactivo.</p>
        <a routerLink="/chemcross" class="btn btn-primary">Jugar</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-search"></i> ChemGuess</h5>
        <p class="card-text">Juego de adivinanzas químicas donde debes identificar elementos o compuestos.</p>
        <a routerLink="/chemguess" class="btn btn-primary">Jugar</a>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><i class="fas fa-cogs"></i> ChemCraft</h5>
        <p class="card-text">Juego creativo donde puedes experimentar con la creación de compuestos.</p>
        <a routerLink="/chemcraft" class="btn btn-primary">Jugar</a>
      </div>
    </div>
  </div>
</div>
